<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="LeeJeongHwan">
    <meta description="내가 내돈으로 직접 주고 산 제품이나 경험과 같은 모든 것들의 좋았던 점 또는 아쉬웠던 점을 사람들과 공유할 수 있는 웹 애플리케이션">
    <link rel="shortcut icon">
    <link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="../css/swiper.css" th:href="@{/css/swiper.css}">
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="../js/swiper.js" th:src="@{/js/swiper.js}" defer></script>
    <script src="../js/index.js" th:src="@{/js/index.js}" defer></script>
    <title>리뷰오브레전드</title>
</head>
<body>

    <header th:replace="~{fragment/fragment-header :: header}"></header>

    <main class="home">
        <section class="search-banner">
            <div class="search-banner__container container">
                <div class="search-banner__content">
                    <article class="section__content">
                        <header class="section__headings">
                            <h2 class="section__heading section__heading--white">나의 경험을 공유해주세요</h2>
                        </header>
                        <form action="/search/contents" class="search-form" method="get">
                            <div class="search-form__search-bar">
                                <input type="search" class="search-form__input" name="keyword" placeholder="검색어를 입력하세요">
                                <button type="submit" class="search-form__submit">Search</button>
                            </div>
                        </form>
                    </article>
                </div>
            </div>
        </section>
        <!-- search-banner -->

        <section class="rol-pick">
            <div class="rol-pick__container container">
                <header class="section__headings">
                    <h2 class="section__heading">Rol Pick</h2>
                    <p class="section__subheading">이달의 리뷰</p>
                </header>
                <article class="section__content">
                    <ul class="rol-pick__list">
                        <li class="rol-pick__left">
                            <div class="rol-pick__item">
                                <a href="review.html" class="rol-pick__link">
                                    <div class="rol-pick__title">Title</div>
                                    <img src="../img/sample1.jpg" alt="썸네일">
                                </a>
                            </div>
                        </li>
                        <ul class="rol-pick__right">
                            <li class="rol-pick__item">
                                <a href="review.html" class="rol-pick__link">
                                    <div class="rol-pick__title">Title</div>
                                    <img src="../img/sample1.jpg" alt="썸네일">
                                </a>
                            </li>
                            <li class="rol-pick__item">
                                <a href="review.html" class="rol-pick__link">
                                    <div class="rol-pick__title">Title</div>
                                    <img src="../img/sample1.jpg" alt="썸네일">
                                </a>
                            </li>
                        </ul>
                    </ul>
                </article>
            </div>
        </section>
        <!-- rol-pick -->

        <section class="best-review">
            <div class="best-review__bg"></div>
            <div class="best-review__container container">
                <header class="section__headings">
                    <h2 class="section__heading">베스트 리뷰</h2>
                    <p class="section__subheading">지금 현재 가장 HOT한 리뷰를 확인해보세요!</p>
                </header>
                <article class="section__content">
                    <div class="swiper best-review-swiper">
                        <div class="swiper-wrapper">
                            <ul class="best-review__list swiper-slide">
                                <li class="best-review__item" th:each="review, reviewStat : ${orderByLikeCount}" th:if="${reviewStat.count} <= 4">
                                    <a href="review.html" th:href="@{/review/{id}(id=${review.id})}" class="best-review__link">
                                        <div class="best-review__img-container">
                                            <img src="../img/sample1.jpg" th:src="|/images/${review.thumbnail.getStoreFileName()}|" alt="썸네일">
                                        </div>
                                        <div class="best-review__body">
                                            <h4 th:text="${review.title}">리뷰입니다.</h4>
                                            <div class="rating" th:switch="${review.rating}">
                                                <div class="rating__star" th:case=0>
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                </div>
                                                <div class="rating__star" th:case=1>
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                </div>
                                                <div class="rating__star" th:case=2>
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                </div>
                                                <div class="rating__star" th:case=3>
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                </div>
                                                <div class="rating__star" th:case=4>
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                </div>
                                                <div class="rating__star" th:case=5>
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="best-review__list swiper-slide" th:if="${orderByLikeCount.size} > 4">
                                <li class="best-review__item" th:each="review, reviewStat : ${orderByLikeCount}"
                                    th:if="${reviewStat.count} >= 5 and ${reviewStat.count} <= 8">
                                    <a href="review.html" th:href="@{/review/{id}(id=${review.id})}" class="best-review__link">
                                        <div class="best-review__img-container">
                                            <img src="../img/sample1.jpg" th:src="|/images/${review.thumbnail.getStoreFileName()}|" alt="썸네일">
                                        </div>
                                        <div class="best-review__body">
                                            <h4 th:text="${review.title}">리뷰입니다.</h4>
                                            <div class="rating" th:switch="${review.rating}">
                                                <div class="rating__star" th:case=0>
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                </div>
                                                <div class="rating__star" th:case=1>
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                </div>
                                                <div class="rating__star" th:case=2>
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                </div>
                                                <div class="rating__star" th:case=3>
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                </div>
                                                <div class="rating__star" th:case=4>
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                </div>
                                                <div class="rating__star" th:case=5>
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="best-review__list swiper-slide" th:if="${orderByLikeCount.size} > 8">
                                <li class="best-review__item" th:each="review, reviewStat : ${orderByLikeCount}"
                                    th:if="${reviewStat.count} >= 9 and ${reviewStat.count} <= 12">
                                    <a href="review.html" th:href="@{/review/{id}(id=${review.id})}" class="best-review__link">
                                        <div class="best-review__img-container">
                                            <img src="../img/sample1.jpg" th:src="|/images/${review.thumbnail.getStoreFileName()}|" alt="썸네일">
                                        </div>
                                        <div class="best-review__body">
                                            <h4 th:text="${review.title}">리뷰입니다.</h4>
                                            <div class="rating" th:switch="${review.rating}">
                                                <div class="rating__star" th:case=0>
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                </div>
                                                <div class="rating__star" th:case=1>
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                </div>
                                                <div class="rating__star" th:case=2>
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                </div>
                                                <div class="rating__star" th:case=3>
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                </div>
                                                <div class="rating__star" th:case=4>
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-regular.svg" th:src="@{/icon/star-regular.svg}" alt="star">
                                                </div>
                                                <div class="rating__star" th:case=5>
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                    <img src="../icon/star-solid.svg" th:src="@{/icon/star-solid.svg}" alt="star">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </article>
            </div>
        </section>
        <!-- best-review -->

        <section class="hot-review">
            <div class="hot-review__container container">
                <header class="section__headings">
                    <h2 class="section__heading">최신/인기 리뷰</h2>
                </header>
                <div class="switch-area">
                    <div class="switch">
                        <input type="radio" class="switch-input" onclick="check(this)" name="view" value="latest" id="latest-button" checked>
                        <label for="latest-button" class="switch-label switch-label-off">최신순</label>
                        <input type="radio" class="switch-input" onclick="check(this)" name="view" value="popularity" id="popularity-button">
                        <label for="popularity-button" class="switch-label switch-label-on">인기순</label>
                        <span class="switch-selection"></span>
                    </div>
                </div>
                <article class="section__content latest__content">
                    <ul class="latest-review__list">
                        <li class="latest-review__item" th:each="review, reviewStat : ${orderByCreatedDate}" th:if="${reviewStat.count} <= 8">
                            <a href="review.html" th:href="@{/review/{id}(id=${review.id})}" class="latest-review__link">
                                <div class="latest-review__title" th:text="${review.title}">title</div>
                                <img src="../img/sample1.jpg" th:src="|/images/${review.thumbnail.getStoreFileName()}|" alt="썸네일">
                            </a>
                        </li>
                    </ul>
                </article>
                <!-- latest-review -->

                <article class="section__content hot__content">
                    <ul class="hot-review__list">
                        <li class="hot-review__item" th:each="review, reviewStat : ${orderByCountVisit}" th:if="${reviewStat.count} <= 8">
                            <a href="review.html" th:href="@{/review/{id}(id=${review.id})}" class="hot-review__link">
                                <div class="hot-review__title" th:text="${review.title}">title</div>
                                <img src="../img/sample1.jpg" th:src="|/images/${review.thumbnail.getStoreFileName()}|" alt="썸네일">
                            </a>
                        </li>
                    </ul>
                </article>
                <!-- hot-review -->
            </div>
        </section>
        <!-- hot-review -->

    </main>
    <!-- main -->

    <footer th:replace="~{fragment/fragment-footer :: footer}"></footer>

</body>
</html>

