<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="LeeJeongHwan">
    <meta description="내가 내돈으로 직접 주고 산 제품이나 경험과 같은 모든 것들의 좋았던 점 또는 아쉬웠던 점을 사람들과 공유할 수 있는 웹 애플리케이션">
    <link rel="shortcut icon">
    <link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../css/portfolio.css" th:href="@{/css/portfolio.css}">
    <script src="../js/portfolio.js" defer th:href="@{/js/portfolio.js}"></script>
    <title>포트폴리오</title>
</head>
<body>
    <header th:replace="~{fragment/fragment-header :: header}"></header>
    <!-- header -->
    
    <main class="portfolio">
        <div class="portfolio__container container">
            <section class="profile" th:replace="~{fragment/fragment-portfolio :: portfolio}"></section>

            <section class="content">
                <div class="content__headings">
                    <p class="content__header">리뷰<span class="content__count" th:text="${reviewList.size()}">100</span></p>
                    <a href="portfolio_review.html" th:href="@{/portfolio/{id}/reviewList(id=${member.id})}" class="content__all">전체보기</a>
                </div>
                <article class="section__content content__content">
                    <ul class="content__list">
                        <li class="content__item" th:each="review, reviewStat : ${reviewList}" th:if="${reviewStat.count} <= 8">
                            <a href="review.html" th:href="@{/review/{id}(id=${review.id})}" class="content__link">
                                <img src="../img/sample1.jpg" th:src="|/images/${review.thumbnail.getStoreFileName()}|" alt="썸네일">
                            </a>
                        </li>
                    </ul>
                </article>

                <div class="content__headings">
                    <p class="content__header">좋아요<span class="content__count" th:text="${likeList.size()}">100</span></p>
                    <a href="portfolio_like.html" th:href="@{/portfolio/{id}/likeList(id=${member.id})}" class="content__all">전체보기</a>
                </div>
                <article class="section__content content__content">
                    <ul class="content__list">
                        <li class="content__item" th:each="like, likeStat : ${likeList}" th:if="${likeStat.count} <= 8">
                            <a href="review.html" th:href="@{/review/{id}(id=${like.review.id})}" class="content__link">
                                <img src="../img/sample1.jpg" th:src="|/images/${like.review.thumbnail.getStoreFileName()}|" alt="썸네일">
                            </a>
                        </li>
                    </ul>
                </article>
            </section>
        </div>
    </main>

    <footer th:replace="~{fragment/fragment-footer :: footer}"></footer>
    <!-- footer -->
</body>
</html>

