<footer class="footer" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <div class="footer__container container">
        <h2 class="footer__heading">Let's talk</h2>
        <article class="footer__content">
            <ul class="footer__contact">
                <li class="footer__contact-item">
                    <a href="#" class="footer__contact-link">
                        <img src="../icon/email.svg" alt="email" class="footer__contact-img">
                    </a>
                </li>
                <li class="footer__contact-item">
                    <a href="#" class="footer__contact-link">
                        <img src="../icon/facebook.svg" alt="facebook" class="footer__contact-img">
                    </a>
                </li>
                <li class="footer__contact-item">
                    <a href="#" class="footer__contact-link">
                        <img src="../icon/instagram.svg" alt="instagram" class="footer__contact-img">
                    </a>
                </li>
                <li class="footer__contact-item">
                    <a href="#" class="footer__contact-link">
                        <img src="../icon/github.svg" alt="github" class="footer__contact-img">
                    </a>
                </li>
            </ul>
            <p class="footer__copyright">
                Copyright ⓒ 2022 - All rights reserved by wjdghks95
            </p>
        </article>
    </div>
</footer>