<header xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <div class="header__container container">
        <div class="header__logo">
            <a href="index.html" class="header__logo-link">
                <img src="../img/logo.png" alt="로고" class="header__logo-img">
            </a>
        </div>
        <nav class="header__nav">
            <ul class="header__menu">
                <li class="header__menu-item">
                    <a href="index.html" class="header__menu-link">Home</a>
                </li>
                <li class="header__menu-item">
                    <a href="contents.html" class="header__menu-link">Contents</a>
                </li>
                <li class="header__menu-item">
                    <a href="myPage_profile.html" class="header__menu-link">MyPage</a>
                </li>
            </ul>
            <ul class="header__account-menu">
                <li class="header__account-item">
                    <a href="login.html" class="header__account-link">Login</a>
                </li>
                <li class="header__account-item">
                    <a href="signUp.html" th:href="@{/signUp}" class="header__account-link">SignUp</a>
                </li>
            </ul>
        </nav>
    </div>
</header>